@media screen and (min-width: 900px) {
  header {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  header .video {
    width: 1130px;
    display: block;
  }
  header .logo {
    width: 460px;
  }
  header .logo img {
    width: 150px;
    margin-left: 200px;
  }
  header .logo h1 {
    font-size: 54px;
    margin-left: 210px;
  }
  header .logo .first {
    margin-top: 500px;
  }
  header nav {
    width: 330px;
  }
  header nav h1 {
    padding-top: 170px;
  }
  header nav svg {
    padding-left: 70px;
  }
  header nav .text {
    padding-left: 70px;
  }
  header nav .counter {
    top: 60px;
    left: 85px;
  }
  .mobile {
    display: none;
  }
  .coffee h1,
  .choose h1 {
    font-size: 30px;
  }
  .coffee h3,
  .choose h3 {
    font-size: 20px;
  }
  .choose ul {
    margin-left: -100px;
  }
  .choose .content {
    width: 300px;
    padding-left: 20px;
  }
  .choose .array {
    display: block;
  }
  .choose .read-more {
    display: none;
  }
  .choose .block-nowrap {
    display: block;
  }
  .giftset .content {
    margin: 0 0 100px 45%;
    width: 440px;
    padding-left: 360px;
    padding-right: 70px;
  }
  .giftset .first {
    left: 440px;
  }
  .giftset .nav-menu {
    display: block;
  }
  .combo {
    overflow-x: hidden;
    height: 100vh;
  }
  .combo .array {
    display: block;
    left: 95%;
  }
  .combo .read-more {
    display: none;
  }
  .combo .block-nowrap {
    display: block;
  }
  .combo ul {
    left: 350px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media screen and (min-width: 500px) and (max-width: 900px) {
  header {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  header .video {
    display: none;
  }
  header .logo {
    width: 50%;
  }
  header .logo img {
    width: 100px;
    margin-left: 20px;
  }
  header .logo h1 {
    font-size: 30px;
    margin-left: 20px;
  }
  header .logo .first {
    margin-top: 400px;
  }
  header nav {
    width: 50%;
  }
  header nav h1 {
    padding-top: 100px;
  }
  header nav svg {
    margin-left: 20px;
  }
  header nav .text {
    padding-left: 20px;
  }
  header nav .counter {
    top: 60px;
    left: 33px;
  }
  .coffee ul {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .coffee h1 {
    font-size: 35px;
  }
  .coffee h3 {
    font-size: 25px;
  }
  .choose ul {
    margin-left: -50px;
  }
  .choose .buttons {
    padding-bottom: 40px;
  }
  .choose .content {
    width: 250px;
    padding-left: 30px;
  }
  .choose h1 {
    font-size: 20px;
  }
  .choose h3 {
    font-size: 16px;
  }
  .choose .array {
    display: none;
  }
  .choose .read-more {
    display: block;
    top: 96.5%;
    left: 85%;
  }
  .choose .block-nowrap {
    display: none;
  }
  .giftset {
    overflow: hidden;
    height: 1200px;
  }
  .giftset .block {
    display: none;
  }
  .giftset .first {
    height: 350px;
    margin: 0 auto 0 -30px;
  }
  .giftset .content {
    padding: 0 20px;
    margin: 500px auto 0 20px;
    width: 100%;
  }
  .combo {
    overflow-x: hidden;
  }
  .combo .block-two {
    height: 2100px;
  }
  .combo .array {
    display: none;
  }
  .combo .read-more {
    display: block;
    top: 97%;
    left: 70%;
  }
  .combo .content {
    height: 100%;
  }
  .combo ul {
    left: 200px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .combo li {
    margin-bottom: 50px;
  }
  .combo .nowrap {
    display: none;
  }
}

@media screen and (max-width: 500px) {
  header {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  header .video {
    display: none;
  }
  header .logo {
    width: 50%;
  }
  header .logo img {
    width: 100px;
    margin-left: 20px;
  }
  header .logo h1 {
    font-size: 30px;
    margin-left: 20px;
  }
  header .logo .first {
    margin-top: 400px;
  }
  header nav {
    width: 50%;
  }
  header nav h1 {
    padding-top: 100px;
  }
  header nav svg {
    margin-left: 20px;
  }
  header nav .text {
    padding-left: 20px;
  }
  header nav .counter {
    top: 60px;
    left: 33px;
  }
  .coffee ul {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .coffee h1 {
    font-size: 20px;
  }
  .coffee h3 {
    font-size: 16px;
  }
  .choose ul {
    margin-left: -50px;
  }
  .choose li {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .choose .buttons {
    padding-bottom: 40px;
  }
  .choose .content {
    padding-left: 30px;
  }
  .choose h1 {
    font-size: 20px;
  }
  .choose h3 {
    font-size: 16px;
  }
  .choose .array {
    display: none;
  }
  .choose .read-more {
    display: block;
    top: 98%;
    left: 70%;
  }
  .choose .block-nowrap {
    display: none;
  }
  .giftset {
    overflow: hidden;
    height: 1200px;
  }
  .giftset .block {
    display: none;
  }
  .giftset .first {
    width: 300px;
    margin: 0 auto 0 5%;
  }
  .giftset .content {
    padding: 0 20px;
    margin: 500px auto;
    width: 100%;
    padding-bottom: 0;
  }
  .giftset .desc {
    width: 350px;
  }
  .combo {
    overflow-x: hidden;
  }
  .combo .block-two {
    height: 2050px;
  }
  .combo .array {
    display: none;
  }
  .combo .read-more {
    display: block;
    top: 97%;
    left: 70%;
  }
  .combo .content {
    height: 100%;
  }
  .combo ul {
    left: 30px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .combo li {
    margin-bottom: 30px;
  }
  .combo .nowrap {
    display: none;
  }
}
/*# sourceMappingURL=media.css.map */